.choice-test .search input {
    line-height: 30px;
}

.popup .search_form input[type=text] {
    line-height: 30px;
    display: block;
    float: left;
}

body.fancybox-lock {
    overflow: visible !important;
    margin-right: auto !important;
}

#edit-title input {
    line-height: 30px;
}




