.head .logo {
    padding: 0 25px 0 15px;
}

body {
    min-width: 1000px;
    min-height: 590px;
}

#work-area {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    overflow: auto;
}

#work-area ul, #work-area li, .popup ul, .popup li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#pages-panel {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 175px;
    background: #ececfc;
    border-right: 1px solid #e0e0ec;
}

#hide-pages {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: -10px;
    width: 10px;
    height: 27px;
    background: url("../images/pages-hide.jpg") no-repeat;
    cursor: pointer;
}

#pages-panel .upload {
    height: 43px;
    padding: 17px 0 0 27px;
}

#pages-panel .upload .choice {
    width: 118px;
    height: 25px;
    background: url("../images/upload-bg.jpg") repeat-x top;
    border: 1px solid #a43332;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

#pages-panel .upload .choice:hover {
    background: url("../images/upload-bg.jpg") repeat-x 27px;
}

#pages-panel .upload .choice.active {
    background: url("../images/upload-bg.jpg") repeat-x bottom;
}

#pages-panel .upload .choice>a {
    background: url("../images/upload_ico.png") no-repeat left 1px;
    padding-left: 25px;
    display: block;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-weight: bold;
    margin: 3px 0 0 6px;
    z-index: 1;
}

#pages-panel .upload .choice>span {
    position: absolute;
    background: url("../images/arr_upload.png") no-repeat;
    width: 9px;
    height: 5px;
    top: 11px;
    right: 6px;
}

#pages-panel .upload .choice.noactive {
    opacity: 0.5;
}

#pages-panel .upload .choice.noactive:hover {
    background: url("../images/upload-bg.jpg") repeat-x top;

}

#pages-panel .upload .choice.noactive:hover a {
    cursor: default;
}

#pages-panel .upload .choice.noactive.active {
    opacity: 1;
}

#pages-panel .upload ul {
    position: absolute;
    top: 26px;
    background: #f1f1f1;
    border: 1px solid #c4c4c4;
    width: 118px;
    left: -1px;
}

#work-area .upload ul {
    padding: 4px 0 0;
    z-index: 10;
    display: none;
}

#work-area .upload li {
    padding: 3px 0 3px 10px;
}

#work-area .upload li:hover {
    background: #e4e4e4;
}

#work-area .upload li a {
    color: #424242;
    text-decoration: none;
    font-size: 13px;
    padding-left: 20px;
}

#work-area .upload li a.u-doc {
    background: url("../images/ico_uploadt.png") no-repeat top left;
}

#work-area .upload li a.u-test {
    background: url("../images/ico_uploadt.png") no-repeat bottom left;
}

#work-area .upload li a.u-video {
    background: url("../images/ico_uploadt.png") no-repeat center left;
}

.clicker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#pages-panel .empty-page {
    overflow: auto;
    padding-left: 15px;
}

#pages-panel .empty-page .placeholder {
    width: 118px;
    height: 85px;
    border: 1px dashed #d0d0e3;
    float: left;

}

#pages-panel .empty-page .num {
    float: left;
    font-weight: bold;
    font-size: 10px;
    color: #95959f;
    line-height: 10px;
    float: left;
    width: 12px;
}

#work-area .d-top {
    background: url("../images/dashed.png") repeat-x top;
}

#work-area .d-bot {
    background: url("../images/dashed.png") repeat-x bottom;
}

#work-area .d-left {
    background: url("../images/dashed-v.png") repeat-y left;
}

#work-area .d-right {
    background: url("../images/dashed-v.png") repeat-y right;
}

.fill100 {
    position: relative;
    width: 100%;
    height: 100%;
}

#empty-front {
    padding: 17px 48px 0;
}

.choose-file {
    position: relative;
    top: 50%;

}

.choose-file .file {
    width: 33%;
    float: left;
    height: 220px;
    margin-top: -110px;
    background: url("../images/divider-upd.jpg") no-repeat right;
    position: relative;
}

.choose-file .file.last {
    background: none;
}

.choose-file .file .inner {
    width: 180px;
    padding-top: 50px;
    margin: 0 auto;
}

.choose-file .file .inner a {
    font-size: 22px;
    color: #454343;
    text-decoration: none;
    line-height: 25px;
    display: block;
    padding-left: 55px;
    height: 48px;
    background: url("../images/upload_big.png") no-repeat left;
    margin-bottom: 20px;
}

.choose-file .file .inner a:hover {
    color: #2f6edf;
}

.choose-file .file.u-doc .inner a {
    background-position: left 5px;
}

.choose-file .file.u-doc .inner a:hover {
    background-position: left -67px;
}

.choose-file .file.u-video .inner a {
    background-position: left -134px;
}

.choose-file .file.u-video .inner a:hover {
    background-position: left -205px;
}

.choose-file .file.u-test .inner a {
    background-position: left -277px;
}

.choose-file .file.u-test .inner a:hover {
    background-position: left -351px;
}

.choose-file p {
    line-height: 20px;
    color: #797979;
}

ul#listing {
    overflow: auto;
}

ul#listing li {
    cursor: pointer;
    position: relative;
    padding: 8px 0;
    border-bottom: 1px solid transparent;
}

ul#listing li.active {
    background: url("../img/prev-background.png");
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
    border-color: #fff;
    border-top-color: #ececfc;
}

ul#listing li .num {
    float: left;
    font-weight: bold;
    font-size: 10px;
    color: #76767e;
    line-height: 10px;
    float: left;
    width: 15px;
    margin-left: 12px;
}

ul#listing li.active .num {
    color: #fff;
}

ul#listing li .page {
    border: 1px solid #cccbcb;
    width: 119px;
    height: 83px;
    text-align: center;
    margin-left: 27px;
    background: #cccbcb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 0;
}

ul#listing li:hover .page:after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: url("../images/slide-white-sha.png") no-repeat bottom left;
    z-index: 3;
    left: 0;
    top: 0;
    display: block;
}

ul#listing li .page .remove {
    background: url("../images/remove-page.jpg") no-repeat;
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 19px;
    height: 19px;
    /*box-shadow: 5px -5px 25px 10px rgba(255, 255, 255, 0.8);*/
    display: none;
    z-index: 10;
}

ul#listing li:hover .page .remove {
    display: block;
}


ul#listing li .attachments {
    position: absolute;
    top:8px;
    right: 6px;
}

ul#listing li .attachments .attach {
    width: 15px;
    height: 15px;
    background: url("../images/attachments.png") no-repeat;
    margin-bottom: 6px;
}

ul#listing li .attachments .attach.audio {
    background-position: top left;
}

ul#listing li.active .attachments .attach.audio {
    background-position: top right;
}

ul#listing li .attachments .attach.file {
    background-position: bottom left;
}

ul#listing li.active .attachments .attach.file {
    background-position: bottom right;
}

ul#listing li.video-view .page {
    background: url("../images/video-view.png") no-repeat -1px -1px;
    height: 79px;
    padding-top: 4px;
}

ul#listing li .page .overlay {
    position: absolute;
    width: 119px;
    height: 69px;
    top:-1px;
    left: -1px;
    z-index: 50;
    background: #ddddef;
    border:1px solid #ddddef;
    color: #7d7da8;
    font-size: 12px;
    padding-top: 15px;
    font-weight: bold;
    line-height: 25px;
    font-family: Helvetica, Arial, sans-serif;
}

ul#listing li .page .overlay a {
    color: #005bc8;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px dotted #005bc8;
}

ul#listing li .page .overlay .close {
    position: absolute;
    width: 8px;
    height: 8px;
    right: 8px;
    cursor: pointer;
    top: 8px;
    background: url("../images/remove-slide.jpg");
}

ul#listing li.remove {
    cursor: default;
}

ul#listing li .page .overlay a:hover {
    border-bottom: 0;
}

.scroll {
    height: 300px;
    overflow: auto;
    position: relative;
}

#pages-panel .jspTrack {
    margin: 0;
}

#pages-panel .jspDragTop {
    background: none;
    top: 0;
}

#pages-panel .jspDragBottom {
    bottom: 0;
    background: none;
}

#pages-panel .scroll:hover .jspDrag {
    background: #9a9aa4;
    margin: 0;
    border-radius: 4px;
    opacity: 0.8;

}

#pages-panel .jspVerticalBar {
    width: 5px;
    right: 4px;
}

#toolbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 100%;
}

#toolbar .ico, #toolbar .ico span {
    width: 42px;
    height: 40px;
    background: url("../images/toolbar_sprite.png") no-repeat -500px;
    position: relative;
    display: block;
    cursor: pointer;
}

#toolbar .ico .del {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 0;
    top: 0;
    display: none;
}

#toolbar .ico:hover .del {
    display: block;
}

#toolbar .attachments {
    padding-top: 8px;
}

#toolbar .audio span {
    background-position: left 6px;
}

#toolbar .audio:hover {
    background-position: -44px -106px;
}

#toolbar .audio.active span {
    background-position: -43px 7px;
}

#toolbar .audio.active:hover {
    background-position: -40px -40px;
}

#toolbar .div {
    border-top: 1px solid #e4e4e4;
    height: 0;
    line-height: 0;
    margin: 2px 0 0 5px;
    width: 30px;
}

#toolbar .file {
    margin-bottom: -10px;
}

#toolbar .file span {
    background-position: left -37px;
}

#toolbar .file:hover {
    background-position: -43px -112px;
}

#toolbar .docs:hover {
    background-position: -40px -40px;
}

#toolbar .doc span {
    background-position: left -68px;
}

#toolbar .pdf span {
    background-position: left -106px;
}

#toolbar .ppt span {
    background-position: left -144px;
}

#toolbar .img span {
    background-position: left -182px;
}

#toolbar .bottom {
    position: absolute;
    bottom: 17px;
    width: 45px;
}

#toolbar .buttons {
    margin-bottom: 10px;
}

#toolbar .buttons a {
    background: url("../images/toolbar_buts.png") no-repeat;
    width: 28px;
    display: block;
    height: 27px;
    margin-left: 8px;
}

#toolbar .buttons a.width {
    background-position: 0 0;
}

#toolbar .buttons a.width:hover {
    background-position: -28px 0;
}

#toolbar .buttons a.wide {
    background-position: 0 -27px;
}

#toolbar .buttons a.wide:hover {
    background-position: -28px -27px;
}

.zoomer {
    margin: 0 0 10px 8px;
}

#zoom.ui-slider {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    width: 0;
    border-color: #d7d7d7;
    height: 85px;
    margin: -4px 0 -6px 13px;
}

#zoom .ui-slider-handle {
    width: 16px;
    height: 16px;
    background: transparent url("../images/zoom-handle.png");
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    left: -8px;
    /*margin: 10px 0;*/
    margin-bottom: -.6em;
}

#zoom-add {
    background: url("../images/zoom-plus.png") no-repeat left;
    display: block;
    width: 28px;
    height: 39px;
}

#zoom-add:hover {
    background-position: right;
}

#zoom-minus {
    background: url("../images/zoom-minus.png") no-repeat left;
    display: block;
    width: 28px;
    height: 39px;
}

#zoom-minus:hover {
    background-position: right;
}

.bugger {
    background: url("../images/bugger.jpg") no-repeat;
    width: 40px;
    height: 34px;
    display: block;
    position: relative;
    float: right;
}

#page {
    background: #fff;
    border: 1px solid #d3d3d3;
    height: 300px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    position: relative;
}

#wrapper-page {
    overflow: hidden;
    z-index: 0;
}

#wrapper-page .scroll {
    width: 100%;
    height: 100%;
}

#page img {
    width: 100%;
    height: 100%;
}

#page.test-view img {
    width: auto;
    height: auto;
}

#listing .ui-state-highlight {
    height: 102px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
}

#listing .ui-state-highlight.line {
    display: block !important;
    height: 3px;
    background: url("../img/prev-background.png");
}

/*#listing li { display:block; position:relative;  z-index:1; }*/
/*#listing li:after {  display:block; position:absolute; height:100%; width:100%; top:0px; left:0px; content:' '; z-index:-1; }*/
/**/
/*#listing li { -moz-transition:border-top-width 0.3s ease-in; -webkit-transition:border-top-width 0.3s ease-in; border-top:0px solid rgba(0,0,0,0); }*/
#listing li.marker {
    /*height: 102px;*/
    /*padding: 0;*/
    /*background: #000;*/
    /*border-color: transparent !important;*/
    width: 116px;
    height: 66px;
    border: 2px dashed #c2c2d4;
    /*float: left;*/
    margin: 8px 0 8px 27px;
}

/*#listing li.active {*/
/*border-top-color: transparent;*/
/*}*/

/*.marker+li {border-top-width:101px !important; border-top-color: transparent;}*/

.jspVerticalBar .jspCa, .jspHorizontalBar .jspCap {
    width: 0;
    height: 0;
}

#wrapper-page .jspTrack {
    margin: 0;
}

#wrapper-page .jspDragTop {
    background: none;
    top: 0;
}

#wrapper-page .jspDragBottom {
    bottom: 0;
    background: none;
}

#wrapper-page  .scroll:hover .jspDrag {
    background: #9a9aa4;
    margin: 0;
    border-radius: 4px;
    opacity: 0.8;

}

#wrapper-page .jspVerticalBar {
    width: 5px;
    right: 4px;
}

#wrapper-page .jspHorizontalBar {
    height: 5px;
    bottom: 4px;
}

#wrapper-page .jspHorizontalBar .jspDrag {
    background: #9a9aa4;
}

#wrapper-page .jspHorizontalBar .jspTrack {
    display: none;
}

#wrapper-page:hover .jspHorizontalBar .jspTrack {
    display: block;
}

.popup {
    padding: 30px;
    z-index: 9000;
    background: #f2f2f2;
    border: 3px solid #305c88;
    overflow: visible;
    display: none;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.fancybox-lock .fancybox-overlay {
    overflow-y: auto;
}

.fancybox-close {
    background: url("../images/close_ico.png") no-repeat;
    width: 28px;
    height: 28px;
    top: -11px;
    right: -11px;
}

.popup h3 {
    font-size: 22px;
    color: #000;
    margin: 0;
    font-weight: normal;
    padding: 0 0 20px;
    line-height: 22px;
}

#audio-record {
    width: 400px;
}

#audio-record .slide {
    position: relative;
    margin-bottom: 25px;
}

#audio-record .slide img {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    border: 1px solid #d3d3d3;
}

#audio-record .slide .counter {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -64px 0 0 -64px;
    color: #fff;
    background: url("../images/counter_bg.png");
    width: 128px;
    height: 111px;
    font-size: 94px;
    line-height: 94px;
    font-weight: bold;
    text-align: center;
    padding-top: 17px;
    display: none;
}

#audio-record a#rec-button {
    background: url("../images/audio-rec.jpg") repeat-x top;
    height: 30px;
    border-radius: 2px;
    width: 97px;
    line-height: 30px;
    display: block;
    float: left;
    border: 1px solid #be3a3a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: bold;

}

#audio-record a#rec-button:hover {
    background: url("../images/audio-rec.jpg") repeat-x bottom;
}

#audio-record a#rec-button.stop, #audio-record a#rec-button.save {
    background: url("../images/audio-rec2.jpg") repeat-x top;
    border-color: #a2b53b;
    text-align: center;
}

#audio-record a#rec-button.stop:hover, #audio-record a#rec-button.save:hover {
    background: url("../images/audio-rec2.jpg") repeat-x bottom;
}

#audio-record a#rec-button i {
    display: block;
    position: relative;
    background: url("../images/white_mic.png") no-repeat;
    width: 15px;
    height: 20px;
    float: left;
    top: 5px;
    margin: 0 7px 0 9px;
}

#audio-record .timer {
    color: #000;
    width: 70px;
    float: left;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin: 5px 0 0 12px;
}

#audio-record .help {
    font-size: 12px;
    color: #707070;
    font-style: italic;
    float: right;
    padding-top: 6px;
}

#audio-record .play {
    background: url("../images/play-stop-bg.png") no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-right: 9px;
    position: relative;
    cursor: pointer;
    display: none;
}

#audio-record .play i {
    position: absolute;
    background: url("../images/audio-pause.png") no-repeat;
    width: 15px;
    height: 15px;
    top: 9px;
    left: 8px;
}

#audio-record .play.pause i {
    background: url("../images/audio-play.png") no-repeat;
    left: 9px;
}

#audio-record .timeline {
    width: 210px;
    height: 32px;
    float: left;
    overflow: hidden;
    position: relative;
    background: #b4b4b4;
    margin-right: 9px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: none;
}

#audio-record .timeline .time {
    color: #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#audio-record .timeline .line {
    background: #7b9ec3;
    height: 32px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

#audio-record .timeline::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 32px;
    box-shadow: 0 0 0 3px #f2f2f2;
    border-radius: 3px;
}

#audio-record .del-audio {
    display: none;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 9px;
    background: url("../images/del_audio.png") no-repeat top;
}

#audio-record .del-audio:hover {
    background-position: bottom;
}

#audio-record .saveline {
    height: 32px;
    position: relative;
    background: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
    display: none;
}

#audio-record .saveline .label {
    position: absolute;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 95px;
    line-height: 32px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#audio-record .saveline .percent {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    line-height: 32px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#audio-record .saveline .line {
    background: #8e8e8e;
    height: 32px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

#audio-record .saveline::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 32px;
    box-shadow: 0 0 0 3px #f2f2f2;
    border-radius: 3px;
}

.fancybox-overlay {
    background: rgba(58, 108, 158, 0.5);
}

/*просмотр теста*/

#page.test-view {
    background: #efefef;
    font-size: 10px;
    font-family: Arial, sans-serif;
    line-height: 12px;
    /*width: 1200px !important;*/
}

.test-view .bookmarklet {
    display: none;
}

.test-view .left {
    width: 90px;
    float: left;
    text-align: left;
    position: absolute;
}

.test-view .right {
    width: 100%;
    float: left;
    position: relative;
}

.test-view .l {
    position: relative;
}

.test-view .name {
    font-size: 2em;
    font-weight: bold;
    line-height: 125%;
    padding-left: 90px;
}

.test-view .test-head {
    overflow: auto;
    background: url("../images/dashed.png") repeat-x bottom;
    height: 20%;
    width: 100%;
    position: relative;
}

.test-view .test-head .right {
    width: auto;
}

.test-view .author {
    font-size: 1.4em;
    color: #666666;
    padding-left: 90px;
    line-height: 120%;
    padding-bottom: 1.5%;
}

.test-view .stat {
    padding-left: 90px;
    font-style: italic;
    font-size: 1.4em;
    color: #666666;
    line-height: 200%;
    padding-bottom: 2%;
}

.test-view .stat span {
    padding: 0 5px;
    font-style: normal;

}

.test-view a.button-blue {
    background: url("../images/blue_bg_button.jpg") repeat-x top;
    border: 1px solid #4f5884;
    padding: 9px 10px 9px 35px;
    text-shadow: 0 1px #38597c;
    color: #fff;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    line-height: 12px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 80%;
    margin-top: -32px;
    display: block;
    border-radius: 2px;
    text-decoration: none;
    box-shadow: 1px 1px 1px 0 #aaa;
}

.test-view a.button-blue:hover {
    background: url("../images/blue_bg_button.jpg") repeat-x bottom;
}

.test-view a.button-blue i {
    position: absolute;
    width: 23px;
    line-height: 12px;
    font-size: 12px;
    height: 23px;
    left: 6px;
    top: 4px;
    border: none !important;
}

.test-view a.button-blue i.view {
    background: url("../images/view-test.png") no-repeat;
}

.test-view .test-settings {
    height: 80%;
}

.test-view .test-settings .right {
    height: 100%;
}

.test-view .test-settings .parameter {
    height: 13%;
    margin-left: 90px;
    font-size: 1.4em;
    background: url("../images/dashed.png") repeat-x bottom;
    position: relative;
    overflow: auto;
    border-bottom: solid 1px transparent;
}

.test-view .test-settings .parameter label {
    float: left;
    cursor: pointer;
    top: 33%;
    position: relative;
    background: url("../images/checkbox_par.png") no-repeat left center;
    padding: 2px 0 2px 30px;
    display: block;
}

.test-view .test-settings .parameter label.active {
    background: url("../images/checkbox_par_active.png") no-repeat left center;
}

#setbp {
    float: left;
    overflow: visible;
    position: relative;
    top: 50%;
    margin-top: -15px;
    width: 200px;
    margin-left: 12px;
}

#setbp .inparr {
    width: 72px;
    height: 27px;
    background: url("../images/bg_arr_input.jpg") repeat-x top;
    float: left;
    border-radius: 2px;
    border: 1px solid #bcbcbc;
    box-shadow: 0 0 3px #ccc;
    position: relative;
}

#setbp .inparr span {
    display: block;
    height: 21px;
    border-right: 1px solid #bcbcbc;
    width: 51px;
    line-height: 16px;
    text-align: center;
    color: #313131;
    font-size: 16px;
    padding-top: 4px;
}

#setbp .inparr span input {
    border: none;
    background: none;
    font-size: 16px;
    line-height: 16px;
    color: #313131;
    width: 29px;
    padding: 0;
    text-align: right;
    margin: 0 -1px 0 0;
}

#setbp .inparr .up {
    width: 20px;
    height: 13px;
    border-bottom: 1px solid #bcbcbc;
    position: absolute;
    box-shadow: 0 1px 0 #fff;
    top: 0;
    right: 0;
    background: url("../images/arr_input.png") no-repeat top left;
}

#setbp .inparr .down {
    width: 20px;
    height: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../images/arr_input.png") no-repeat top right;
}

#setbp em {
    float: left;
    margin: 8px 5px 0;
    display: block;
    font-size: 14px;
    line-height: 14px;
}

#setbp .inparr .up:hover, #setbp .inparr .down:hover {
    background-color: #fff;
}

#setbp .inparr .up:active, #setbp .inparr .down:active {
    background-color: #4d4c4d;
    box-shadow: inset 0 0 3px #000;
    background-position: bottom left;
}

#setbp .inparr .down:active {
    background-position: bottom right;
}

.test-view .fullsettings {
    background: url("../images/ico_settings.jpg") no-repeat left center;
    font-size: 1.4em;
    margin-left: 90px;
    padding: 2px 0 2px 30px;
    color: #33618f;
    height: 16px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    zoom:0;
}

.test-view .fullsettings span {
    background: url("../images/dot_settings.jpg") repeat-x bottom;
    position: relative;
    /*top: 33%;*/
    zoom:0;
}

.test-view .fullsettings:hover span {
    background: none;
}

.test-view .faq {
    position: absolute;
    right: 0;
    top: 50%;
    background: url("../images/ico_faq.png") no-repeat;
    height: 17px;
    width: 17px;
    margin-top: -9px;
}

.blockset {
    display: none;
    height: 40%;
    background: #DFE3E8;
    margin-left: 90px;
    position: relative;
}

.blockset:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.blockset:after {
    border-bottom-color: #dfe3e8;
    border-width: 10px;
    left: 20%;
    margin-left: -10px;
}

.blockset .options {
    position: relative;
    top: 22.5%;
    left: 8%;
    height: 55%;
}

.blockset .options, .blockset .options li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;

}

.blockset .options label {
    font-size: 1.2em;
    background: url("../images/checkbox_par.png") no-repeat left 45%;
    padding-left: 22px;
    cursor: pointer;
}

.blockset .options label.active {
    background: url("../images/checkbox_par_active.png") no-repeat left center;
}

.blockset .options li {
    height: 25%;
}

.test-page {
    width: 690px;
    height: 470px;
    margin: 0 auto;
}

#time-deadline {
    overflow: auto;
    padding-left: 25px;
    display: none;
    margin-top: 8px;
}

#time-deadline input {
    background: #fff;
    border: 1px solid #bcbcbc;
    padding: 10px 10px 9px;
    width: 70px;
    text-align: center;
    display: block;
    float: left;
    box-shadow: inset 0 1px 1px #ddd;
    float: left;
}

#time-deadline input.small {
    width: 16px;
    padding: 10px 7px 9px;
}

.test-view #time-deadline {
    margin: 0;
    padding: 0 0 0 10px;
    position: relative;
    top: 50%;
    display: none;
    margin-top: -19px;
}

#time-deadline span {
    display: block;
    margin: 10px 6px 0;
    font-size: 16px;
    color: #000;
    float: left;
}

#time-deadline input {
    background: #eaeaea;
}

#time-deadline {
    /*display: block;*/
    float: left;
    margin-top: -8px;
    margin-bottom: -9px;
    margin-left: -26px;
}

.test-view #time-deadline span {
    margin-top: 13px;
    color: #616161;
}

.test-view #time-deadline input {
    border-radius: 1px;
    color: #616161;
}

.choice-test.popup {
    width: 790px;
    height: 462px;
    background: #f3f3f3;
    padding: 20px;
    overflow: auto;
}

.choice-test h3 {
    font-size: 24px;
    color: #000;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0 0 18px 0;
}

.choice-test .categories {
    float: left;
    width: 180px;
}

.choice-test ul, .choice-test ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    line-height: 16px;
}

.choice-test .categories li {
    padding: 8px 4px 7px 15px;
    border: solid 1px transparent;
}

.choice-test .categories li.head-cat {
    font-weight: bold;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: -1px;
}

.choice-test .categories li a {
    color: #000;
    text-decoration: none;
}

.choice-test .categories li a:hover {
    text-decoration: underline;
}

.choice-test .categories li.active {
    background: #dee8f4;
    box-shadow: 0 1px 0 0 #fff, inset 0 1px 0 0 #dee8f4;
    border-color: #cad3dd #d3dde8 #d3dde8;
}

.choice-test .categories li.active a {
    text-decoration: none;
}

.choice-test .test-items {
    float: right;
    width: 580px;
    height: 360px;
    padding: 10px 0 0 10px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid;
    border-color: #dddddd #f3f3f3 #ededed;
    box-shadow: 0 1px 0 0 #fff, inset 0 1px 0 0 #f5f5f5;
}

.choice-test .search {
    background: url("../images/dashed.png") repeat-x bottom;
    padding: 0 0 11px 0;
    margin: 0 11px 0 0;
}

.choice-test .search input {
    display: block;
    border-radius: 3px;
    padding: 0 10px;
    height: 30px;
    width: 547px;
    border: 1px solid #d2d2d2;
    box-shadow: inset 0 1px 0 0 #f5f5f5;
}

.test-list {
    padding-right: 0;
}

.test-list .test {
    padding: 1px 0 2px;
    background: url("../images/dashed.png") repeat-x bottom;
    overflow: auto;
    margin-right: 11px;
    cursor: pointer;
}

.test-list .test.active .ac {
    background: #ebf0f4;
    overflow: auto;
}

.test-list .choice {
    float: left;
    background: url("../images/radio-button.png") no-repeat left;
    width: 14px;
    height: 14px;
    margin: 27px 20px 0;
}

.test-list .test.active .choice {
    background-position: right;
}

.test-list .ico {
    float: left;
    width: 50px;
    height: 50px;
    margin: 6px 14px 6px 0;
    background: url("../images/test_icon.png");
}

.test-list .info {
    float: left;
    width: 450px;
    margin: 8px 0;
    line-height: 18px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #000;
}

.test-list .info .author {
    font-size: 12px;
}

.test-list .info .stat {
    font-style: italic;
    color: #666666;
    font-size: 12px;
}

.test-list .info .stat span {
    display: inline;
    padding: 0 11px;
    font-weight: normal;
}

.test-list .scroll {
    height: 315px;

}

.test-list .scroll:focus {
    border: none;
    outline: none;
}

.choice-test .buttons {
    float: right;
    margin-top: 17px;
}

.choice-test .buttons a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    line-height: 18px;

}

.popup .buttons a.button-red {
    background: url("../images/red_button_bg.jpg") repeat-x top;
    height: 14px;
    border-radius: 3px;
    border: 1px solid #ab3434;
    box-shadow: 0 0 3px #aaa;
    display: inline-block;
    padding: 6px 25px 10px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 #487a15;
    margin-right: 5px;

}

.popup .buttons a.button-red:hover {
    background: url("../images/red_button_bg.jpg") repeat-x bottom;

}

.popup .buttons a.button-blue {
    background: url("../images/blue_bg_button.jpg") repeat-x top;
    border: 1px solid #4f5884;
    text-shadow: 0 1px #38597c;
    position: relative;
    padding: 6px 35px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 14px;
    display: inline-block;
    box-shadow: 0 0 3px #aaa;

}

.popup .buttons a.button-blue:hover {
    background: url("../images/blue_bg_button.jpg") repeat-x bottom;
}

.popup .menu {
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    float: left;
    margin: 0 0 28px;

}

.popup .menu li {
    float: left;
    padding: 5px 18px 0;
    margin: 0;
    background: url("../images/cv-menu.jpg") repeat-x;
    height: 25px;
    border-right: 1px solid #d7d7d7;
    font-size: 14px;
}

.popup .menu li a {
    display: block;
    overflow: auto;
    float: left;
    color: #000;
    font-size: 13px;
    text-decoration: none;
}

.popup .menu li.active {
    background: #a2acb6;
    color: #fff;
    box-shadow: inset 0 0 5px #696f76;
}

.popup .menu li.active a {
    color: #fff;
    text-shadow: 0 1px 0 #999;
}

.popup .menu li.last {
    border: none;
}

.popup .flange {
    width: 766px;
    height: 250px;
    text-align: center;
    border: 1px solid #dddddd;
    padding-top: 116px;
}

.popup .btn-download {
    display: block;
    width: 105px;
    height: 41px;
    padding: 0 0 0 55px;
    background: url(../images/btn-download.png) no-repeat 0 0;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 #902e2c;
    line-height: 36px;
    font-weight: 700;
    font-size: 14px;
    margin: 0 auto;
}

.popup .btn-download:hover {
    background-position: 0 -41px;
    color: #fff;
}

.popup .btn-download span {
    text-align: left;
    display: block;
}

.popup .flange .black {
    font-size: 18px;
    color: #000;
    display: block;
    margin-bottom: 15px;

}

.popup .flange p {
    font-size: 14px;
    color: #565656;
    margin-bottom: 20px;
}

#add_video.popup .button-blue {
    background: url("../images/blue_bg_button.jpg") repeat-x top;
    border: 1px solid #4d5582;
    text-shadow: 0 1px #38597c;
    margin-right: 15px;
    color: #fff;
    width: 124px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
    box-shadow: 0 0 3px #aaa;
}

#add_video.popup .button-blue:hover {
    background: url("../images/blue_bg_button.jpg") repeat-x bottom;

}

.popup .search_form input[type=text]{
    width: 206px;
    height: 30px;
    background: #fff url("../images/ico_search.jpg") no-repeat 5px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    margin-right: 8px;
    padding: 0 15px;
}
.popup .hide{
    display: none;
}


.test-list .jspTrack {
    margin: 0;
}

.test-list .jspDragTop {
    background: none;
    top: 0;
}

.test-list .jspDragBottom {
    bottom: 0;
    background: none;
}

.test-list .scroll:hover .jspDrag {
    background: #9a9aa4;
    margin: 0;
    border-radius: 4px;
    opacity: 0.8;

}

.test-list .jspVerticalBar {
    width: 5px;
    right: 4px;
}

#page.video-view  {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    border:0;
}

.video-view .play {
    position: absolute;
    background: url("../images/video-play.png") no-repeat top;
    width: 78px;
    height: 78px;
    top:50%;
    left: 50%;
    margin: -39px 0 0 -39px;
    cursor: pointer;
}

.video-view .play:hover {
    background-position: 0 -81px;
}