.head .logo {
    padding: 0 25px 0 15px;
}

body {
    min-width: 1000px;
    min-height: 590px;
}

#work-area {
    position: relative;
    font-family:Helvetica, Arial, sans-serif;
    overflow: hidden;
}

#work-area ul, #work-area li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#pages-panel {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 175px;
    background: #ececfc;
    border-right: 1px solid #e0e0ec;
}


#hide-pages {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: -10px;
    width: 10px;
    height: 27px;
    background: url("../images/pages-hide.jpg") no-repeat;
    cursor: pointer;
}

#pages-panel .upload {
    height: 43px;
    padding: 17px 0 0 27px;
}

#pages-panel .upload .choice {
    width: 118px;
    height: 25px;
    background: url("../images/upload-bg.jpg") repeat-x top;
    border:1px solid #a43332;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    position: relative;
}

#pages-panel .upload .choice:hover {
    background: url("../images/upload-bg.jpg") repeat-x 27px;
}

#pages-panel .upload .choice.active {
    background: url("../images/upload-bg.jpg") repeat-x bottom;
}

#pages-panel .upload .choice>a {
    background: url("../images/upload_ico.png") no-repeat left 1px;
    padding-left: 25px;
    display: block;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    text-decoration: none;
    font-weight: bold;
    margin: 3px 0 0 6px;
    z-index: 1;
}

#pages-panel .upload .choice>span {
    position: absolute;
    background: url("../images/arr_upload.png") no-repeat;
    width: 9px;
    height: 5px;
    top:11px;
    right: 6px;
}

#pages-panel .upload .choice.noactive {
    opacity: 0.5;
}

#pages-panel .upload .choice.noactive:hover {
    background: url("../images/upload-bg.jpg") repeat-x top;

}

#pages-panel .upload .choice.noactive:hover a {
    cursor: default;
}

#pages-panel .upload .choice.noactive.active {
    opacity: 1;
}

#pages-panel .upload ul {
    position: absolute;
    top:26px;
    background: #f1f1f1;
    border:1px solid #c4c4c4;
    width: 118px;
    left: -1px;
}

#work-area .upload ul {
    padding: 4px 0 0;
    z-index: 10;
    display: none;
}

#work-area .upload li {
    padding: 3px 0 3px 10px;
}

#work-area .upload li:hover {
    background: #e4e4e4;
}

#work-area .upload li a {
    color: #424242;
    text-decoration: none;
    font-size: 13px;
    padding-left: 20px;
}

#work-area .upload li a.u-doc {
     background: url("../images/ico_uploadt.png") no-repeat top left;
}

#work-area .upload li a.u-test {
    background: url("../images/ico_uploadt.png") no-repeat bottom left;
}

#work-area .upload li a.u-video {
    background: url("../images/ico_uploadt.png") no-repeat center left;
}

.clicker {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#pages-panel .empty-page {
    overflow:  auto;
    padding-left: 15px;
}

#pages-panel .empty-page .placeholder {
    width: 118px;
    height: 85px;
    border:1px dashed #d0d0e3;
    float: left;

}

#pages-panel .empty-page .num {
    float: left;
    font-weight: bold;
    font-size: 10px;
    color: #95959f;
    line-height: 10px;
    float: left;
    width: 12px;
}

#work-area .d-top {
    background: url("../images/dashed.png") repeat-x top;
}

#work-area .d-bot {
    background: url("../images/dashed.png") repeat-x bottom;
}

#work-area .d-left {
    background: url("../images/dashed-v.png") repeat-y left;
}

#work-area .d-right {
    background: url("../images/dashed-v.png") repeat-y right;
}

.fill100 {
    position: relative;
    width: 100%;
    height: 100%;
}

#empty-front {
    padding: 17px 48px 0;
}

.choose-file {
    position: relative;
    top:50%;

}

.choose-file .file {
    width: 33%;
    float: left;
    height: 220px;
    margin-top: -110px;
    background: url("../images/divider-upd.jpg") no-repeat right;
    position: relative;
}

.choose-file .file.last {
    background: none;
}

.choose-file .file .inner {
    width: 180px;
    padding-top: 50px;
    margin: 0 auto;
}

.choose-file .file .inner a {
    font-size: 22px;
    color: #454343;
    text-decoration: none;
    line-height: 25px;
    display: block;
    padding-left: 55px;
    height: 48px;
    background: url("../images/upload_big.png") no-repeat left;
    margin-bottom: 20px;
}

.choose-file .file .inner a:hover {
    color: #2f6edf;
}

.choose-file .file.u-doc .inner a {
    background-position: left 5px;
}

.choose-file .file.u-doc .inner a:hover {
    background-position: left -67px;
}

.choose-file .file.u-video .inner a {
    background-position: left -134px;
}

.choose-file .file.u-video .inner a:hover {
    background-position: left -205px;
}

.choose-file .file.u-test .inner a {
    background-position: left -277px;
}

.choose-file .file.u-test .inner a:hover {
    background-position: left -351px;
}

.choose-file p {
    line-height: 20px;
    color: #797979;
}

ul#listing li {
    cursor: pointer;
    padding: 8px 0;
    border-bottom: 1px solid transparent;
    /*-moz-transition: all 0.1s linear;*/
    /*-o-transition: all 0.1s linear;*/
    /*-webkit-transition: all 0.1s linear;*/
}

ul#listing li.active {
    background: url("../img/prev-background.png");
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
    border-color: #fff;
    border-top-color: #ececfc;
}

ul#listing li .num {
    float: left;
    font-weight: bold;
    font-size: 10px;
    color: #76767e;
    line-height: 10px;
    float: left;
    width: 15px;
    margin-left: 12px;
}

ul#listing li.active .num {
    color: #fff;
}

ul#listing li .page {
    border:1px solid #cccbcb;
    width: 119px;
    height: 83px;
    margin-left: 27px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    position: relative;
}

ul#listing li .page .remove {
    background: url("../images/remove-page.jpg") no-repeat;
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 19px;
    height: 19px;
    box-shadow: 14px -14px 25px 10px rgba(255,255,255,0.8);
    display: none;
}

ul#listing li:hover .page .remove {
    display: block;
}

ul#listing li .page .file {
    position: absolute;
    background: url("../images/attached.png") no-repeat;
    right: 3px;
    top: -8px;
    width: 15px;
    height: 23px;
}


.scroll {
    height: 300px;
    overflow: hidden;
}

#pages-panel .jspTrack {
    margin: 0;
}

#pages-panel .jspDragTop {
    background: none;
    top:0;
}

#pages-panel .jspDragBottom {
    bottom: 0;
    background: none;
}

#pages-panel .scroll:hover .jspDrag {
    background: #9a9aa4;
    margin: 0;
    border-radius: 4px;
    opacity: 0.8;

}

#pages-panel .jspVerticalBar {
    width: 5px;
    right: 4px;
}

#toolbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 100%;
}


#toolbar .ico, #toolbar .ico span {
    width: 42px;
    height: 40px;
    background: url("../images/toolbar_sprite.png") no-repeat -500px;
    position: relative;
    display: block;
    cursor: pointer;
}

#toolbar .ico .del {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 0;
    top: 0;
    display: none;
}

#toolbar .ico:hover .del {
    display: block;
}

#toolbar .attachments {
    padding-top: 8px;
}

#toolbar .audio span {
    background-position: left 6px;
}

#toolbar .audio:hover {
    background-position: -44px -106px;
}

#toolbar .audio.active span {
    background-position: -43px 7px;
}

#toolbar .audio.active:hover {
    background-position: -40px -40px;
}

#toolbar .div {
    border-top:1px solid #e4e4e4;
    height: 0;
    line-height: 0;
    margin: 2px 0 0 5px;
    width: 30px;
}

#toolbar .file {
    margin-bottom: -10px;
}

#toolbar .file span {
    background-position: left -37px;
}

#toolbar .file:hover {
    background-position: -43px -112px;
}

#toolbar .docs:hover {
    background-position: -40px -40px;
}

#toolbar .doc span {
    background-position: left -68px;
}

#toolbar .pdf span {
    background-position: left -106px;
}

#toolbar .ppt span {
    background-position: left -144px;
}

#toolbar .img span {
    background-position: left -182px;
}

#toolbar .bottom {
    position: absolute;
    bottom: 17px;
    width: 45px;
}

#toolbar .buttons {
    margin-bottom: 10px;
}

#toolbar .buttons a {
    background: url("../images/toolbar_buts.png") no-repeat;
    width: 28px;
    display: block;
    height: 27px;
    margin-left: 8px;
}

#toolbar .buttons a.width {
    background-position: 0 0;
}

#toolbar .buttons a.width:hover {
    background-position: -28px 0;
}

#toolbar .buttons a.wide {
    background-position: 0 -27px;
}

#toolbar .buttons a.wide:hover {
    background-position: -28px -27px;
}

.zoomer {
    margin:0 0 10px 8px;
}

#zoom.ui-slider {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    width: 0;
    border-color: #d7d7d7;
    height: 85px;
    margin:-4px 0 -6px 13px;
}

#zoom .ui-slider-handle {
    width: 16px;
    height: 16px;
    background:transparent url("../images/zoom-handle.png");
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    left: -8px;
    /*margin: 10px 0;*/
    margin-bottom: -.6em;
}

#zoom-add {
    background: url("../images/zoom-plus.png") no-repeat left;
    display: block;
    width: 28px;
    height: 39px;
}

#zoom-add:hover {
    background-position: right;
}

#zoom-minus {
    background: url("../images/zoom-minus.png") no-repeat left;
    display: block;
    width: 28px;
    height: 39px;
}

#zoom-minus:hover {
    background-position: right;
}

.bugger {
    background: url("../images/bugger.jpg") no-repeat;
    width: 40px;
    height: 34px;
    display: block;
    position: relative;
    float:right;
}

#page {
    background: #fff;
    border:1px solid #d3d3d3;
    height: 300px;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    position: relative;
}

#wrapper-page {
    overflow: hidden;
    z-index: 0;
}

#wrapper-page .scroll {
    width: 100%;
    height: 100%;
}

#page img {
    width: 100%;
    height: 100%;
}

#listing .ui-state-highlight {
    height: 102px;
    background: none;
    border:0;
    padding: 0;
    margin: 0;
}

#listing .ui-state-highlight.line {
    display: block !important;
    height: 3px;
    background: url("../img/prev-background.png");
}


/*#listing li { display:block; position:relative;  z-index:1; }*/
/*#listing li:after {  display:block; position:absolute; height:100%; width:100%; top:0px; left:0px; content:' '; z-index:-1; }*/
/**/
/*#listing li { -moz-transition:border-top-width 0.3s ease-in; -webkit-transition:border-top-width 0.3s ease-in; border-top:0px solid rgba(0,0,0,0); }*/
#listing li.marker { height: 102px; padding: 0; border-color: transparent !important; }

/*#listing li.active {*/
    /*border-top-color: transparent;*/
/*}*/

/*.marker+li {border-top-width:101px !important; border-top-color: transparent;}*/


.jspVerticalBar .jspCa, .jspHorizontalBar .jspCap {
    width: 0;
    height: 0;
}




#wrapper-page .jspTrack {
    margin: 0;
}

#wrapper-page .jspDragTop {
    background: none;
    top:0;
}

#wrapper-page .jspDragBottom {
    bottom: 0;
    background: none;
}

#wrapper-page  .scroll:hover .jspDrag {
    background: #9a9aa4;
    margin: 0;
    border-radius: 4px;
    opacity: 0.8;

}

#wrapper-page .jspVerticalBar {
    width: 5px;
    right: 4px;
}

#wrapper-page .jspHorizontalBar {
    height: 5px;
    bottom: 4px;
}

#wrapper-page .jspHorizontalBar .jspDrag {
    background: #9a9aa4;
}